# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
coverage/

# Mypy
.mypy_cache/

# Temporary files
*.tmp
*.temp